@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">PizzaLoco</h1>
    <p>"You can't make everyone happy. You're not pizza."</a>.</p>
</div>
